body{
    font-family:'Source Sans Pro',sans-serif;
    color:#b58aa9;
    font-size:16px;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
}
*{
    text-shadow:0 1px 1px rgba(255,255,255,.3);
}
p{
    line-height:24px
}
a{
    color:#b58aa9;
}
a:hover{
    color:#b58aa9;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Source Sans Pro',sans-serif
}
h1{
    font-size:50px;
    font-weight:200;
    color:#555;
    margin-bottom:20px;
}
h2{
    font-size:30px;
    font-weight:300;
    color:#444;margin:30px 0
}
h3{
    font-size:20px;
    font-weight:400;
    margin:20px 0;
}
h4{
    font-size:18px;
    font-weight:400
}
#header-row{
    background-image: url("../images/3.png");
    background-size: cover;
    background-position: top;
    border-bottom:1px solid #9A618A;
    padding:15px 0;
}
#header-row .navbar{
    margin:10px 0 0 0;
}
#header-row .navbar .navbar-inner{
    border:none;
    box-shadow:none;
    margin:0;
    background:transparent;
}
#header-row .navbar .navbar-inner ul.nav>li>a{
    box-shadow:none;
    background:transparent;
    color:#803D6E;
}#header-row .navbar .navbar-inner ul.nav li.active a{
     color:#803D6E;
 }
.carousel-control{
    background:#803d6e;
    width:14px;
    height:14px;
    font-size:14px;
    top:50%;
}
.carousel-control.right{
    right:-30px;
}
.carousel-control.left{
    left:-30px;
}
.carousel{
    height:500px;
    /*background:url(../img/slide-bg.png) no-repeat bottom center;*/
}.carousel img{
     max-width:100%;
}
.carousel-caption{
    background-color:transparent;
    position:relative;
    max-width:100%;
    padding:0 20px;
    margin-top:20%;
}
.carousel-caption h1{
    font-size:50px;
    text-transform:capitalize;
    margin-bottom:30px;
    color:#555;
    font-weight:200;
}
.carousel-caption .lead{
    color:#888;
    font-size:18px;
    line-height:24px;
    padding-bottom:40px;
    font-weight:400
}
.feature-box{
    margin-top:60px;
    text-align:center;
}
.cnt-title{
    text-align:center;
    margin-bottom:50px;
}
.cnt-title span{
    font-size:24px;
    font-weight:200;
}
.review{
    margin:80px 0;
}
.page-header{
    border-bottom:1px solid #f5f5f5;
}
.media{
    margin-bottom:50px;
}
#map-canvas{
    height:400px;
    border:15px solid #fff;
    box-shadow:0 0 0 1px #f5f5f5;
}
.blog-post{
    border-bottom:2px solid #f5f5f5;
    padding:0 0 50px;
    margin-bottom:40px;
}
.blog-post p{
    margin:20px 0;
}
.postmetadata{
    margin-bottom:20px;
    padding:5px 0;
}
.postmetadata ul{
    margin:0;
    padding:0;
}
.postmetadata ul li{
    display:inline-block;
    margin-right:20px;
}
.postmetadata i{
    margin:4px 5px 0 0;
}
.side-bar{
    margin-bottom:30px;
}
.side-bar ul{
    margin:0;
    padding:0;
}
.side-bar ul li{
    list-style:none;
}
.side-bar h3{
    margin-bottom:10px;
}
.recent-post strong{
    display:block;
    margin-bottom:5px;
    color:#888
}
.recent-post li{
    margin-bottom:15px;
}
footer{
    border-top:1px solid #eee;
    background-image: url("../images/1.png");
    background-size: cover;
    background-position: center;
    padding:30px 0;
    color:#eae0e7;
    margin-top:40px;
}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*versi1*/
/*.galeri{*/
    /*border: 0;*/
    /*margin-right: 20px;*/
    /*float: left;*/
    /*margin-bottom: 20px;*/
/*}*/

.no-padding{padding:0}

.btn-default,.portfolio-box .portfolio-box-caption{
    -webkit-transition:all .35s;
    -moz-transition:all .35s
}

.portfolio-box{
    position:relative;
    display:block;
    max-width:300px;
    margin:0 auto
}

.portfolio-box .portfolio-box-caption{
    color:#fff;
    opacity:0;
    display:block;
    background:rgba(240,95,64,.9);
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    height:100%;
    transition:all .35s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{
    width:100%;
    text-align:left;
    position:absolute;
    top:90%;
    transform:translateY(-50%)
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding:0 15px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{
    text-transform:uppercase;
    font-weight:600;
    font-size:14px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:14px}

.portfolio-box:hover .portfolio-box-caption{opacity:1}

.portfolio-box:focus{outline:0}
@media (min-width:768px){
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:16px}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:14px}
}

.no-gutter>[class*=col-]{
    padding-right:0;
    padding-left:0
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}

@media (min-width:1200px){
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
    .col-lg-12{width:100%}
    .col-lg-11{width:91.66666667%}
    .col-lg-10{width:83.33333333%}
    .col-lg-9{width:75%}
    .col-lg-8{width:66.66666667%}
    .col-lg-7{width:58.33333333%}
    .col-lg-6{width:50%}
    .col-lg-5{width:41.66666667%}
    .col-lg-4{width:33.33333333%}
    .col-lg-3{width:25%}
    .col-lg-2{width:16.66666667%}
    .col-lg-1{width:8.33333333%}
    .col-lg-pull-12{right:100%}
    .col-lg-pull-11{right:91.66666667%}
    .col-lg-pull-10{right:83.33333333%}
    .col-lg-pull-9{right:75%}
    .col-lg-pull-8{right:66.66666667%}
    .col-lg-pull-7{right:58.33333333%}
    .col-lg-pull-6{right:50%}
    .col-lg-pull-5{right:41.66666667%}
    .col-lg-pull-4{right:33.33333333%}
    .col-lg-pull-3{right:25%}
    .col-lg-pull-2{right:16.66666667%}
    .col-lg-pull-1{right:8.33333333%}
    .col-lg-pull-0{right:auto}
    .col-lg-push-12{left:100%}
    .col-lg-push-11{left:91.66666667%}
    .col-lg-push-10{left:83.33333333%}
    .col-lg-push-9{left:75%}
    .col-lg-push-8{left:66.66666667%}
    .col-lg-push-7{left:58.33333333%}
    .col-lg-push-6{left:50%}
    .col-lg-push-5{left:41.66666667%}
    .col-lg-push-4{left:33.33333333%}
    .col-lg-push-3{left:25%}
    .col-lg-push-2{left:16.66666667%}
    .col-lg-push-1{left:8.33333333%}
    .col-lg-push-0{left:auto}
    .col-lg-offset-12{margin-left:100%}
    .col-lg-offset-11{margin-left:91.66666667%}
    .col-lg-offset-10{margin-left:83.33333333%}
    .col-lg-offset-9{margin-left:75%}
    .col-lg-offset-8{margin-left:66.66666667%}
    .col-lg-offset-7{margin-left:58.33333333%}
    .col-lg-offset-6{margin-left:50%}
    .col-lg-offset-5{margin-left:41.66666667%}
    .col-lg-offset-4{margin-left:33.33333333%}
    .col-lg-offset-3{margin-left:25%}
    .col-lg-offset-2{margin-left:16.66666667%}
    .col-lg-offset-1{margin-left:8.33333333%}
    .col-lg-offset-0{margin-left:0}
}

.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{
    display:block;
    max-width:100%;
    height:auto
}

.struktur{
    padding-bottom: 5%;
}

.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
    width: auto;
}
.form-inline .input-group > .form-control {
    width: 100%;
}

.form-label{
    color: #0e0e0e;
    display: inline;
    padding-right: 5%;
}

.form-center{
    margin-left: 40%;
}

.text-primary{
    color:#9A618A;
}a.text-primary:hover,a.text-primary:focus{
    color:#B58AA9;
}
h1.text-primary{
    color:#9A618A;
    padding-top: 2%;
}

.text-justify{
    text-align: justify;
}

@media (max-width: 480px) {
    .form-center{
        margin-left: 15%;
    }
}

@media (min-width:768px){
    .form-center{
        margin-left: 35%;
    }
}

@media (min-width:1200px){
    .form-center{
        margin-left: 40%;
    }
}

.image{
    width: 100%;
    height:360px;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}